<div class="container-fluid">
  <br>
  <button class="btn btn-primary">Novo</button>
  <br> <br>
  <table datatable [dtOptions]="dtOptions" class="table">
    <caption>Clientes</caption>
    <thead>
      <tr>
        <td>Type</td>
        <td>Name</td>
        <td>Genero</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of people" >
        <td>{{item.type}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
